@font-face {
    font-family: ScoobyDoo;
    src: url(scoobydoo.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-family: ScoobyDoo;
    font-size: 1.25rem;
    line-height: 1.5;
}

figure {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: fill;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.hero:nth-child(1) figure {
    background-color: #8e6345;
}

.hero:nth-child(2) figure {
    background-color: #79af30;
}

.hero:nth-child(3) figure {
    background-color: #bb5c37;

}

.hero:nth-child(4) figure {
    background-color: #4b0055;

}

.hero:nth-child(5) figure {
    background-color: #128a84;
}

.hero-inner {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    clip: rect(0, auto, auto, 0);
}

@supports (-webkit-overflow-scrolling: touch) {
    .hero-inner {
        clip: unset;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.hero__title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    color: white;
    font-family: ScoobyDoo;
    font-size: 8vw;
    letter-spacing: -0.125rem;
    text-align: center;
}

@media (min-width: 1200px) {
    .hero__title {
        font-size: 6rem;
    }
}


.content__inner {
    margin: 0 auto;
    max-width: 700px;
}

.content__title {
    font-family: ScoobyDoo;
    font-size: 3rem;
    line-height: 1.25;
    letter-spacing: -0.125rem;
    text-align: center;
}

@media (min-width: 600px) {
    .content__title {
        font-size: 4rem;
    }
}

html, body, head {
    margin: 0;
    padding: 0;
}